[phases.setup]
nixPkgs = ['python39', 'postgresql']

[phases.install]
cmds = ['pip3 install -r backend/requirements.txt']

[phases.build]
cmds = [
    'cd backend',
    'python3 manage.py collectstatic --noinput'
]

[start]
cmd = 'cd backend && python3 manage.py migrate && python3 populate_services.py && gunicorn verdelle_nails.wsgi:application --bind 0.0.0.0:$PORT'
