[variables]
NIXPACKS_PYTHON_VERSION = '3.9'

[phases.setup]
nixPkgs = ['python39', 'postgresql']
aptPkgs = ['python3-pip']

[phases.install]
cmds = ['cd backend && python3 -m pip install -r requirements.txt']

[phases.build]
cmds = ['cd backend && python3 manage.py collectstatic --noinput']

[start]
cmd = 'cd backend && python3 manage.py migrate && python3 populate_services.py && gunicorn verdelle_nails.wsgi:application --bind 0.0.0.0:$PORT'
